header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80px;
    padding: 0 30px;
    font-family: var(--font-primary-01);
    font-weight: 500;
    font-size: 16px;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 0 30px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

#logo-optimus-img {
    width: 27px;
    height: 27px;
}

#logo-optimus-p {
    font-size: 18px;
    color: var(--color-primary-02);
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    list-style: none;
}

.nav-item > a{
    color: var(--color-primary-03);
    transition: all .2s ease;
}
.nav-item > a:hover {
    color: var(--color-primary-01);
}

.nav-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.nav-actions > a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-03);
    width: 112px;
    height: 45px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    transition: all .3s ease;
}

.nav-actions > a:hover {
    color: #ffffff;
    background-color: var(--color-primary-03);
}

.nav-actions > button {
    transition: all .3s ease;
}

.nav-actions > button:hover {
    background-color: var(--color-primary-03);
}