#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 96px;
}

#sobre > span {
    color: var(--color-primary-01);
    font-weight: 600;
    font-size: 16px;
}

#sobre > h1 {
    color: var(--color-primary-04);
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -2%;
}

#sobre > p {
    color: var(--color-primary-03);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    align-content: center;
    width: 47%;
    text-align: center;
    padding: 12px;
}

#metricas {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 60px;
}

.metricas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-align: left;
    width: 280px;
    height: 100%;
    margin-bottom: 60px;
}

.metricas-numeros {
    width: 100%;
    color: var(--color-primary-01);
    font-size: 3em;
    font-weight: 600;
    text-align: left;
}

.metricas-sobre {
    width: 100%;
    text-align: left;
    font-size: 1.1em;
    font-weight: 600;
}

.metricas-descricao {
    width: 100%;
    text-align: left;
    color: var(--color-primary-03);
    line-height: 1.5;
    word-spacing: 1.2px;
}