@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-primary-01: #8E2424;
    --color-primary-02: #3A404E;
    --color-primary-03: #667085;
    --color-primary-04: #101828;
    --color-primary-05: #f9f4f4;
    --color-primary-06: #EAECF0;
    --color-primary-07: #F9FAFB;
    --color-primary-08: #98A2B3;

    --font-primary-01: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary-01);
}

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

a {
    color: var(--color-primary-04);
    text-decoration: none;
}

.button {
    width: 112px;
    height: 45px;
    border-radius: 8px;
    border: none;
    padding: 10px 18px;
    background-color: var(--color-primary-01);
    color: #ffffff;
    font-family: var(--font-primary-01);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}